:host {
    display: none;
    position: fixed;
    z-index: 9999;
    width: 13rem;
    background: var(--qua-bg-color);
    color: white;
    border-radius: 10px;
    padding: 0.5rem;
    font-family: sans-serif;
    user-select: none;
}

.menu {
    flex: 1 1 0%;
    overflow-y: auto;
}

.item {
    display: flex;
    position: relative;
    flex: 1 1 0%;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    cursor: pointer;
    margin-top: 0.25rem;
    border-radius: 0.25rem;
    padding: 0.5rem;
    font-weight: 700;
}

.right {
    display: flex;
    margin-left: auto;
    margin-right: 0px;
}

.slider {
    flex-direction: column;
}

.item:hover {
    background-color: var(--pri-active-color);
}