* {
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    overflow: hidden;
}

.main {
    display: flex;
    height: 100vh;
    position: relative;
    z-index: 10;
}

.sidebar {
    display: flex;
    flex-direction: column;
    border-right-width: 1px;
    width: 20rem;
    height: 100%;
}

.sidebar-header {
    padding: 0.5rem;
}

.sidebar-container {
    display: flex;
    align-items: center;
}

.sidebar-icone {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 9999px;
}

.sidebar-title {
    margin-left: 0.75rem;
}

.sidebar-title h2 {
    font-weight: 600;
}

.sidebar-title p {
    font-size: 0.75rem;
    line-height: 1rem;
}

.room-container {
    flex: 1 1 0%;
    overflow-y: auto;
}

.room {
    cursor: pointer;
    position: relative;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    padding: 0.5rem;
    border-bottom-width: 1px;
    align-items: center;
    display: flex;
    flex: 1 1 0%;
    min-width: 0px;
    justify-content: space-between;
    align-items: flex-start;
}

.room-title {
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chat {
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
}

.chat-container {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.chat-header {
    padding: 1rem;
}

.chat-area {
    padding: 1rem;
    overflow-y: auto;
    flex: 1 1 0%;

}

.chat-input-container {
    padding: 0.5rem;
    display: flex;
}

.chat-text {
    flex: 1 1 0%;
}

.chat-text input {
    padding-left: 1rem;
    padding-right: 3rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    width: 100%;
}

.message-container {
    align-items: flex-start;
    display: flex;
}

.message-owner {
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.message-content {
    padding: 0.5rem;
}

.message-timestamp {
    font-size: 0.75rem;
    line-height: 1rem;

}

.status-container {
    padding: 0.75rem;
    align-items: center;
    display: flex;
}

.status-bloc-1 {
    height: 2.5rem;
    display: flex;
}

.status-bloc-1 .icone {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 9999px;
}

.status-bloc-1 .user {
    padding-left: 0.75rem;
}

.status-bloc-1 .user .name {
    font-weight: 600;
}

.status-bloc-1 .user .status {
    font-size: 0.75rem;
    line-height: 1rem;
}

.status-bloc-2 {
    position: relative;

}

.status-bloc-2 .button {
    padding: 0.5rem;
}

.status-bloc-2 .button .icone {
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}

.scroll-smooth {
    scroll-behavior: smooth;
}

.scrollbar::-webkit-scrollbar {
    width: 6px;
}

.scrollbar::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background: rgba(37, 211, 102, 0.5);
    border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(37, 211, 102, 0.7);
}