* {
    font-family: sans-serif;
    user-select: none;
}

.selectable {
    user-select: text;
}

body {
    min-height: 100vh;
    overflow: hidden;
}

body.fadein {
    opacity: 0;
    -moz-transition: opacity 0.25s;
    -webkit-transition: opacity 0.25s;
    -o-transition: opacity 0.25s;
    transition: opacity 0.25s;
}

body.loaded.fadein {
    opacity: 1;
}

.main {
    display: flex;
    height: 100vh;
    position: relative;
    z-index: 10;
}

.login {
    justify-content: center;
    align-items: center;
}

.login-box {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    border-radius: 0.25rem;
    margin-top: 2.5rem;
}

.login-form {
    width: 20rem;
}

.login-form button {
    font-weight: 700;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    width: 100%;
    display: block;
    margin-top: 1.5rem;
}

.login-element {
    margin-bottom: 1.5rem;
}

.login-element label {
    display: block;
    font-weight: 700;
}

.login-element input {
    outline: 2px solid transparent;
    outline-offset: 2px;
    padding-left: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-width: 1px;
    border-radius: 10px;
    width: 100%;
    margin-top: 0.5rem;
}

/* ELEMENT */
.button-with-icon {
    padding: 0.5rem;
}

svg {
    width: 1.5rem;
    height: 1.5rem;
}

.block-right {
    margin-left: auto;
    margin-right: 0px;
}



/* SIDEBAR LEFT */

.sidebar {
    display: flex;
    flex-direction: column;
    border-right-width: 1px;
    width: 15rem;
    height: 100%;
}

.sidebar-header {
    padding: 0.5rem;
}

.sidebar-container {
    display: flex;
    align-items: center;
}

.sidebar-icone {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 9999px;
}

.sidebar-title {
    margin-left: 0.75rem;
    min-height: 2.5rem;
}

.sidebar-user-title h2,
.sidebar-title h2 {
    font-weight: 600;
}

.sidebar-title p {
    font-size: 0.75rem;
    line-height: 1rem;
}

/* SIDEBAR USERS (right) */

.sidebar-right {
    border-left-width: 1px;
}

.sidebar-user-list {
    display: flex;
    flex-direction: column;
    width: 15rem;
    height: 100%;
}

.sidebar-user-title {
    display: flex;
    align-content: center;
    padding: 0.5rem;
}

.sidebar-user-title svg {
    display: block;
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 0.5rem;
}

.user-profile {
    padding: 0.5rem;
}

/* ROOM */

.room-container {
    flex: 1 1 0%;
    overflow-y: auto;
}

.room {
    cursor: pointer;
    position: relative;
    padding: 0.5rem;
    border-bottom-width: 1px;
    align-items: center;
    display: flex;
    flex: 1 1 0%;
    min-width: 0px;
    justify-content: space-between;
    align-items: flex-start;
}

.room-title {
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
}

.room-title svg {
    margin-right: 0.5rem;
}

.chat {
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    user-select: auto;
}

.chat-container {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.chat-header {
    padding: 1rem;
    height: 3.5rem;
    display: flex;
}

.chat-header svg {
    margin-right: 0.5rem;
}

.chat-area {
    overflow-y: auto;
    flex: 1 1 0%;
    padding-top: 0.75rem;
}

.chat-input-container {
    padding: 0.5rem;
    display: flex;
}

.chat-text {
    flex: 1 1 0%;
}

.chat-text input {
    padding-left: 1rem;
    padding-right: 3rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    width: 100%;
}

/* MESSAGE */

.message-container {
    padding-bottom: 0.5rem;
}

.message-header {
    display: flex;
}

.message-context-menu {
    visibility: hidden;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: 0px;
}

.message-context-menu:hover,
.message-container:hover .message-context-menu {
    visibility: visible;
}

.message-context-menu .icon {
    cursor: pointer;
    display: inline;
    padding: 0.5rem;
}

.message-context-menu .icon svg {
    display: inline;
    width: 1.25rem;
    height: 1.25rem;
}

.message-owner {
    padding-left: 1rem;
    font-weight: 600;
    text-overflow: ellipsis;
    display: block;
    user-select: text;
}

.message-content {
    display: flex;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    user-select: text;
}

.message-content img{
    height: 1.5rem;
    width: 1.5rem;
}

.message-timestamp {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1rem;
}

/* STATUS */

.status-container {
    padding: 0.75rem;
    align-items: center;
    display: flex;
}

.status-bloc-1 {
    height: 2.5rem;
    display: flex;
}

.status-bloc-1 .icon {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 9999px;
}

.sidebar-user-list .icon {
    width: 2rem;
    height: 2rem;
    border-radius: 9999px;
}

.sidebar-user-list .user,
.status-bloc-1 .user {
    padding-left: 0.75rem;
}


.status-bloc-1 .user .name {
    font-weight: 600;
}

.sidebar-user-list .user .name {
    font-weight: 500;
    padding-top: 0.25rem;
}

.sidebar-user-list .user .status,
.status-bloc-1 .user .status {
    font-size: 0.75rem;
    line-height: 1rem;
}

.user-dot {
    border-color: rgb(31 41 55);
    border-width: 2px;
    border-radius: 9999px;
    width: 1rem;
    height: 1rem;
    right: -0.25rem;
    bottom: -0.25rem;
    position: absolute;
}

.user-dot-online {
    background-color: rgb(74, 222, 81);
}

.user-dot-away {
    background-color: rgb(251, 136, 60);
}

.user-dot-dnd {
    background-color: rgb(220, 38, 38)
}

.user-dot-offline {
    background-color: rgb(113, 113, 122)
}

.user-profile {
    height: 3rem;
    display: flex;
    cursor: pointer;
}

/* Scroll */

.scroll-smooth {
    scroll-behavior: smooth;
}

.scrollbar::-webkit-scrollbar {
    width: 6px;
}

.scrollbar::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background: rgba(37, 211, 102, 0.5);
    border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(37, 211, 102, 0.7);
}

/* CONFIG */
.config-container-left {
    width: 33%;
    border-right-width: 1px;
    border-color: white;
    padding-top: 5rem;
    padding-left: 2rem;
    padding-right: 1rem;
    padding-bottom: 5rem;
}

.config-left {
    width: 13rem;
    margin-left: auto;
    margin-right: 0px;
}

.config-container-right {
    width: 67%;
    padding-top: 5rem;
    padding-left: 1rem;
    padding-right: 2rem;
    padding-bottom: 5rem;
}

.config-right {
    max-width: 45rem;
}

.config .category {
    font-weight: 800;
    font-size: 1.25rem;
    height: 2.5rem;
}

.category~.category {
    margin-top: 1rem;
}

.config .sub-category {
    display: flex;
    font-weight: 600;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    padding: 0.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
    margin-bottom: 0.1rem;
}

.sub-category svg {
    margin-right: 0.5rem;
}

.hidden {
    display: none;
}

.config h1 {
    font-weight: 800;
    font-size: 1.25rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.config h2 {
    font-weight: 800;
    font-size: 1rem;
    margin-top: 1rem;
}

.config input,
.config select {
    outline: 2px solid transparent;
    outline-offset: 2px;
    padding-left: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-width: 1px;
    border-radius: 0.25rem;
    width: 100%;
    margin-top: 0.5rem;
}

.config-item {
    height: 3rem;
    display: flex;
    cursor: pointer;
    padding: 0.5rem;
    margin: 0.3rem;
    border-radius: 0.25rem;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.config-item .name {
    padding-left: 0.5rem;
    padding-top: 0.25rem;
    font-weight: 800;
    font-size: 1rem;
}

.config-item .icon {
    width: 2rem;
    height: 2rem;
    border-radius: 10px;
}

.config-item .context-menu {
    visibility: hidden;
    padding-top: 0.25rem;
    margin-left: auto;
    margin-right: 0px;
}

.config-item .context-menu:hover,
.config-item:hover .context-menu {
    visibility: visible;
}

.config-item .context-menu .icon {
    cursor: pointer;
    display: inline;
    padding: 0.5rem;
}

.config-item .context-menu .icon svg {
    display: inline;
    width: 1.25rem;
    height: 1.25rem;
}

@keyframes voice-call {
    from {
        background-color: green;
    }

    to {
        background-color: darkgreen;
    }
}

.active-voice {
    animation: voice-call 1s steps(20, start) infinite;
    animation-direction: alternate;
}