* {
    font-family: sans-serif;
    user-select: none;
}

.selectable {
    user-select: text;
}

body {
    min-height: 100vh;
    overflow: hidden;
}

body.fadein {
    opacity: 0;
    -moz-transition: opacity 0.25s;
    -webkit-transition: opacity 0.25s;
    -o-transition: opacity 0.25s;
    transition: opacity 0.25s;
}

body.loaded.fadein {
    opacity: 1;
}

button {
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    border-radius: 0.25rem;
    padding-top: 0.5rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    font-weight: 700;
    text-align: center;
}

.main {
    display: flex;
    position: relative;
    z-index: 10;
    height: 100vh;
}

.login {
    justify-content: center;
    align-items: center;
}

.login-box {
    margin-top: 2.5rem;
    border-radius: 0.25rem;
    padding-top: 0.75rem;
    padding-right: 2.5rem;
    padding-bottom: 0.75rem;
    padding-left: 2.5rem;
}

.login-form {
    width: 20rem;
}

.login-form button {
    display: block;
    margin-top: 1.5rem;
    width: 100%;
}

.login-form .switch {
    cursor: pointer;
    border: none;
    background: none !important;
    padding: 0 !important;
    font-family: arial, sans-serif;
    text-decoration: underline;
}

.login-element {
    margin-bottom: 1.5rem;
}

.login-element label {
    display: block;
    font-weight: 700;
}

.login-element input {
    margin-top: 0.5rem;
    outline: 2px solid transparent;
    outline-offset: 2px;
    border-width: 1px;
    border-radius: 10px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    width: 100%;
}

/* ELEMENT */
.button-with-icon {
    padding: 0.5rem;
}

svg {
    width: 1.5rem;
    height: 1.5rem;
}

.block-right {
    margin-right: 0px;
    margin-left: auto;
}



/* SIDEBAR LEFT */

.sidebar {
    display: flex;
    flex-direction: column;
    border-right-width: 1px;
    width: 15rem;
    height: 100%;
}

.sidebar-header {
    padding: 0.5rem;
}

.sidebar-container {
    display: flex;
    align-items: center;
}

.sidebar-icone {
    border-radius: 9999px;
    width: 2.5rem;
    height: 2.5rem;
}

.sidebar-title {
    margin-left: 0.75rem;
    min-height: 2.5rem;
}

.sidebar-user-title h2,
.sidebar-title h2 {
    font-weight: 600;
}

.sidebar-title p {
    font-size: 0.75rem;
    line-height: 1rem;
}

/* SIDEBAR USERS (right) */

.sidebar-right {
    border-left-width: 1px;
}

.sidebar-user-list {
    display: flex;
    flex-direction: column;
    padding-top: 0.5rem;
    width: 15rem;
    height: 100%;
}

.sidebar-user-title {
    display: flex;
    align-content: center;
    padding: 0.5rem;
}

.sidebar-user-title svg {
    display: block;
    margin-right: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
}

/* ROOM LIST*/

.room-list-container {
    flex: 1 1 0%;
    overflow-y: auto;
}

.room-element {
    display: flex;
    position: relative;
    flex: 1 1 0%;
    justify-content: space-between;
    align-items: flex-start;
    cursor: pointer;
    border-bottom-width: 1px;
    padding: 0.5rem;
    min-width: 0px;
}

.room-separator {
    display: flex;
    position: relative;
    flex: 1 1 0%;
    justify-content: space-between;
    align-items: flex-start;
    cursor: pointer;
    border-bottom-width: 1px;
    padding: 0.5rem;
    min-width: 0px;
}

/* ROOM */
.room {
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    height: 100%;
    user-select: auto;
}

.room-header {
    display: flex;
    padding: 1rem;
    height: 3.5rem;
}

.room-header svg {
    margin-right: 0.5rem;
}

.room-title {
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.room-title svg {
    margin-right: 0.5rem;
}

.room-container {
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    overflow-y: auto;
}

.room-content {
    flex: 1 1 0%;
    padding-top: 0.5rem;
    overflow-y: auto;
}

.room-control-container {
    display: flex;
    padding: 0.5rem;
}

.text-control {
    flex: 1 1 0%;
}

.text-control input {
    padding-top: 0.75rem;
    padding-right: 3rem;
    padding-bottom: 0.75rem;
    padding-left: 1rem;
    width: 100%;
}

.voice-control {
    margin-right: 0.5rem;
    height: 3rem;
}

.voice-control button {
    display: block;
    cursor: pointer;
    margin-top: 0.25rem;
    border-radius: 0.25rem;
    padding: 0.5rem;
    font-weight: 700;
}

/* MESSAGE */

.message-container {
    padding-bottom: 0.5rem;
}

.message-header {
    display: flex;
}

.message-context-menu {
    visibility: hidden;
    margin-right: 0px;
    margin-left: auto;
    padding-right: 1rem;
}

.message-context-menu:hover,
.message-container:hover .message-context-menu {
    visibility: visible;
}

.message-context-menu .icon {
    display: inline;
    cursor: pointer;
    padding: 0.5rem;
}

.message-context-menu .icon svg {
    display: inline;
    width: 1.25rem;
    height: 1.25rem;
}

.message-owner {
    display: block;
    padding-left: 1rem;
    font-weight: 600;
    user-select: text;
    text-overflow: ellipsis;
}

.message-content {
    display: flex;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    user-select: text;
}

.message-content img {
    width: 1.5rem;
    height: 1.5rem;
}

.message-timestamp {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1rem;
}

/* VOICE */
.voice-profile {
    display: flex;
    cursor: pointer;
    padding: 0.5rem;
    height: 3rem;
}

.voice-profile .block-user {
    display: flex;
}

.voice-profile .user {
    font-weight: 500;
    font-size: 1rem;
}

.voice-profile .block-action {
    margin-left: auto;
}

.block-action .volume {
    width: 60%;
}

.block-action .mute {
    margin-left: 0.25rem;
    padding: 0.25rem;
}

/* STATUS */

.status-container {
    display: flex;
    align-items: center;
    padding: 0.75rem;
}

.status-bloc-1 {
    display: flex;
    height: 2.5rem;
}

.status-bloc-1 .icon {
    border-radius: 9999px;
    width: 2.5rem;
    height: 2.5rem;
}

.voice-profile .icon,
.sidebar-user-list .icon {
    border-radius: 9999px;
    width: 2rem;
    height: 2rem;
}

.voice-profile .user,
.sidebar-user-list .user,
.status-bloc-1 .user {
    padding-left: 0.75rem;
}

.status-bloc-1 .user .name {
    font-weight: 600;
}

.voice-profile .user .name,
.sidebar-user-list .user .name {
    padding-top: 0.25rem;
    font-weight: 500;
}

.sidebar-user-list .user .status,
.status-bloc-1 .user .status {
    font-size: 0.75rem;
    line-height: 1rem;
}

.user-dot {
    position: absolute;
    right: -0.25rem;
    bottom: -0.25rem;
    border-width: 2px;
    border-color: rgb(31 41 55);
    border-radius: 9999px;
    width: 1rem;
    height: 1rem;
}

.user-dot-online {
    background-color: rgb(74, 222, 81);
}

.user-dot-away {
    background-color: rgb(251, 136, 60);
}

.user-dot-dnd {
    background-color: rgb(220, 38, 38)
}

.user-dot-offline {
    background-color: rgb(113, 113, 122)
}

.user-profile {
    display: flex;
    cursor: pointer;
    padding: 0.5rem;
    height: 3rem;
}

/* Scroll */

.scroll-smooth {
    scroll-behavior: smooth;
}

.scrollbar::-webkit-scrollbar {
    width: 6px;
}

.scrollbar::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(37, 211, 102, 0.5);
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(37, 211, 102, 0.7);
}

/* CONFIG */
.config-container-left {
    border-right-width: 1px;
    border-color: white;
    padding-top: 5rem;
    padding-right: 1rem;
    padding-bottom: 5rem;
    padding-left: 2rem;
    width: 33%;
}

.config-left {
    margin-right: 0px;
    margin-left: auto;
    width: 13rem;
}

.config-container-right {
    padding-top: 5rem;
    padding-right: 2rem;
    padding-bottom: 5rem;
    padding-left: 1rem;
    width: 67%;
}

.config-right {
    max-width: 45rem;
}

.config .category {
    height: 2.5rem;
    font-weight: 800;
    font-size: 1.25rem;
}

.category~.category {
    margin-top: 1rem;
}

.config .sub-category {
    display: flex;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    margin-bottom: 0.1rem;
    border-radius: 0.25rem;
    padding: 0.5rem;
    font-weight: 600;
}

.sub-category svg {
    margin-right: 0.5rem;
}

.hidden {
    display: none;
}

.config h1 {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    font-weight: 800;
    font-size: 1.25rem;
}

.config h2 {
    margin-top: 1rem;
    font-weight: 800;
    font-size: 1rem;
}

.config input,
.config select {
    margin-top: 0.5rem;
    outline: 2px solid transparent;
    outline-offset: 2px;
    border-width: 1px;
    border-radius: 0.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    width: 100%;
}

.config-item {
    display: flex;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    margin: 0.3rem;
    border-radius: 0.25rem;
    padding: 0.5rem;
    height: 3rem;
}

.config-item .name {
    padding-top: 0.25rem;
    padding-left: 0.5rem;
    font-weight: 800;
    font-size: 1rem;
}

.config-item .icon {
    border-radius: 10px;
    width: 2rem;
    height: 2rem;
}

.config-item .context-menu {
    visibility: hidden;
    margin-right: 0px;
    margin-left: auto;
    padding-top: 0.25rem;
}

.config-item .context-menu:hover,
.config-item:hover .context-menu {
    visibility: visible;
}

.config-item .context-menu .icon {
    display: inline;
    cursor: pointer;
    padding: 0.5rem;
}

.config-item .context-menu .icon svg {
    display: inline;
    width: 1.25rem;
    height: 1.25rem;
}

@keyframes voice-call {
    from {
        background-color: green;
    }

    to {
        background-color: darkgreen;
    }
}

.active-voice {
    animation: voice-call 1s steps(20, start) infinite;
    animation-direction: alternate;
}

.swal-input {
    margin-top: 0.5rem;
    outline: 2px solid transparent;
    outline-offset: 2px;
    border-width: 1px;
    border-radius: 10px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    width: 100%;
}