* {
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    overflow: hidden;
}

.main {
    display: flex;
    height: 100vh;
    position: relative;
    z-index: 10;
}

.login {
    justify-content: center;
    align-items: center;
}

.login-box {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    border-radius: 0.25rem;
    margin-top: 2.5rem;
}

.login-form {
    width: 20rem;
}

.login-form button {
    font-weight: 700;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    width: 100%;
    display: block;
    margin-top: 1.5rem;
}

.login-element {
    margin-bottom: 1.5rem;
}

.login-element label {
    display: block;
    font-weight: 700;
}

.login-element input {
    outline: 2px solid transparent;
    outline-offset: 2px;
    padding-left: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-width: 1px;
    border-radius: 0.25rem;
    width: 100%;
    margin-top: 0.5rem;
}

/* SIDEBAR LEFT */

.sidebar {
    display: flex;
    flex-direction: column;
    border-right-width: 1px;
    width: 18rem;
    height: 100%;
}

.sidebar-header {
    padding: 0.5rem;
}

.sidebar-container {
    display: flex;
    align-items: center;
}

.sidebar-icone {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 9999px;
}

.sidebar-title {
    margin-left: 0.75rem;
    min-height: 2.5rem;
}

.sidebar-user-title h2,
.sidebar-title h2 {
    font-weight: 600;
}

.sidebar-title p {
    font-size: 0.75rem;
    line-height: 1rem;
}

/* SIDEBAR USERS (right) */

.sidebar-user-list {
    display: flex;
    flex-direction: column;
    border-left-width: 1px;
    width: 15rem;
    height: 100%;
}

.sidebar-user-title{
    display: flex;
    align-content: center;
    padding: 0.5rem;
}

.sidebar-user-title svg{
    display: block;
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 0.5rem;
}

.user-profile{
    padding: 0.5rem;
}

/* ROOM */

.room-container {
    flex: 1 1 0%;
    overflow-y: auto;
}

.room {
    cursor: pointer;
    position: relative;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    padding: 0.5rem;
    border-bottom-width: 1px;
    align-items: center;
    display: flex;
    flex: 1 1 0%;
    min-width: 0px;
    justify-content: space-between;
    align-items: flex-start;
}

.room-title {
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chat {
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
}

.chat-container {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.chat-header {
    padding: 1rem;
}

.chat-area {
    overflow-y: auto;
    flex: 1 1 0%;
    padding-top: 0.75rem;
}

.chat-input-container {
    padding: 0.5rem;
    display: flex;
}

.chat-text {
    flex: 1 1 0%;
}

.chat-text input {
    padding-left: 1rem;
    padding-right: 3rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    width: 100%;
}

/* MESSAGE */

.message-container {
    padding-bottom: 0.5rem;
}

.message-header {
    display: flex;
}

.message-context-menu {
    visibility: hidden;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: 0px;
}

.message-context-menu:hover,
.message-container:hover .message-context-menu {
    visibility: visible;
}

.message-context-menu .icon {
    cursor: pointer;
    display: inline;
    padding: 0.5rem;
}

.message-context-menu .icon svg {
    display: inline;
    width: 1.25rem;
    height: 1.25rem;
}

.message-owner {
    padding-left: 1rem;
    font-weight: 600;
    text-overflow: ellipsis;
    display: block;
}

.message-content {
    display: block;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.message-timestamp {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1rem;
}

/* STATUS */

.status-container {
    padding: 0.75rem;
    align-items: center;
    display: flex;
}

.status-bloc-1 {
    height: 2.5rem;
    display: flex;
}

.sidebar-user-list .icon,
.status-bloc-1 .icon {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 9999px;
}

.sidebar-user-list .user,
.status-bloc-1 .user {
    padding-left: 0.75rem;
}

.sidebar-user-list .user .name,
.status-bloc-1 .user .name {
    font-weight: 600;
}

.sidebar-user-list .user .status,
.status-bloc-1 .user .status {
    font-size: 0.75rem;
    line-height: 1rem;
}

.status-bloc-2 {
    margin-left: auto;
    margin-right: 0px;
}

.status-bloc-2 .button {
    padding: 0.5rem;
}

.status-bloc-2 .button .icon {
    width: 1.5rem;
    height: 1.5rem;
}

.user-dot{
    border-color: rgb(31 41 55);
    border-width: 2px;
    border-radius: 9999px;
    width: 1rem;
    height: 1rem;
    right: -0.25rem;
    bottom: -0.25rem;
    position: absolute;
}

.user-profile{
    height: 3.5rem;
    display: flex;
    cursor: pointer;
}

/* Scroll */

.scroll-smooth {
    scroll-behavior: smooth;
}

.scrollbar::-webkit-scrollbar {
    width: 6px;
}

.scrollbar::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background: rgba(37, 211, 102, 0.5);
    border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(37, 211, 102, 0.7);
}