[data-theme="default"] {

    /* Body */
    body {
        background-color: rgb(17, 24, 39);
        color: white;
    }

    /* Login */
    .login-box {
        background-color: white;
    }

    .login-form button {
        background-color: rgb(99, 102, 241);
        color: white;
    }

    .login-element label {
        color: #1f2937;
    }

    .login-element input {
        border-color: rgb(209, 213, 219);
        color: black;
    }

    .login-form .switch {
        color: rgb(99, 102, 241);
    }

    /* Element */
    .app button:hover {
        background-color: rgb(7, 89, 133);
    }

    /* Sidebar left */
    .sidebar {
        border-color: rgb(55, 65, 81);
        background-color: #1f2937;
    }

    .sidebar-header {
        border-color: rgb(55, 65, 81);
        background: #353e4b;
    }

    .sidebar-title h2 {
        color: white;
    }

    .sidebar-title p {
        color: rgb(156 163 175);
    }

    /* Sidebar right */
    .sidebar-right {
        border-color: rgb(55, 65, 81);
    }

    /* Room */
    .room-separator,
    .room-element {
        border-color: rgb(55, 65, 81);
        color: white;
    }

    .room-element:hover {
        background-color: rgba(12, 74, 110, 0.7);
        font-weight: 600;
    }

    .room-element.active {
        background-color: rgb(7, 89, 133);
        font-weight: 600;
    }

    .room-separator:hover {
        font-weight: 600;
    }

    /* Status */
    .status-container {
        border-color: rgb(55, 65, 81);
        background: #353e4b;
    }

    .status-bloc-1 .name {
        color: white
    }

    .status-bloc-1 .status {
        color: rgb(156, 163, 175);
    }

    /* Chat */
    .room {
        border-color: #111827;
    }

    .room-header {
        background: #292f3d;
    }

    .room-name {
        color: white;
        font-weight: 600;
    }

    .room-control-container {
        border-color: rgb(55, 65, 81);
        background: rgba(255, 255, 255, 0.1);
    }

    .text-control input, .text-control textarea {
        background-color: rgb(55, 65, 81);
        color: white;
    }

    .text-control input::placeholder, .text-control textarea::placeholder {
        color: rgb(156, 163, 175);
    }

    .text-control input:focus, .text-control textarea:focus {
        outline: 2px solid transparent;
        outline-offset: 2px;
    }

    .voice-control .disconnected {
        background-color: rgb(34 197 94);
        color: white;
    }

    .voice-control .disconnected:hover {
        background-color: rgb(24, 147, 69);
        color: white;
    }

    .voice-control .waiting {
        background-color: orange;
        color: white;
    }

    .voice-control .connected {
        background-color: rgb(238, 52, 52);
        color: white;
    }

    .voice-control .connected:hover {
        background-color: rgb(182, 39, 39);
        color: white;
    }

    .voice-profile:hover {
        background-color: rgb(55, 65, 81);
    }

    .voice-control .mute:hover,
    .voice-profile .mute:hover{
        background-color: rgb(7, 89, 133);
    }

    .voice-control .mute.active,
    .voice-profile .mute.active{
        color: red;
    }

    .voice-control .compressor:hover{
        background-color: rgb(7, 89, 133);
    }

    .voice-control .compressor.active{
        color: greenyellow;
    }

    /* Message */
    .message-container:hover {
        background-color: rgb(55, 65, 81);
    }

    .message-owner {
        color: white;
    }

    .message-text {
        color: white;
    }

    .message-timestamp {
        color: rgb(156, 163, 175);
    }

    .message-context-menu:hover {
        border: 1px;
        border-color: white;
        border-radius: 10px;
        background-color: rgb(55, 65, 81);
    }

    .message-context-menu .icon:hover {
        border-radius: 10px;
        background-color: rgb(7, 89, 133);
    }

    /* User profile */

    .user-profile:hover {
        background-color: rgb(55, 65, 81);
    }

    /* Server config */
    .config-container-left {
        border-color: rgb(55, 65, 81);
    }

    .config-container-right {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .config .sub-category:hover {
        background-color: rgba(12, 74, 110, 0.7);
    }

    .config .sub-category.active {
        background-color: rgb(7, 89, 133);
    }

    .config input,
    .config select,
    form.popup input,
    form.popup select {
        background-color: #292f3d;
        color: white;
    }

    .config label {
        color: white;
        font-weight: 800;
    }

    .config-item {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .config-item:hover {
        background-color: rgba(12, 74, 110, 0.7);
    }

    .config-item .context-menu .icon:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .config-right button {
        background-color: rgb(99, 102, 241);
        color: white;
    }

    .config-right button:hover {
        background-color: rgba(12, 74, 110, 0.7);
    }

    .config-rooms-struct {
        background-color: rgba(255, 255, 255, 0.1);
        color: white;
    }

    textarea.config-item:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

    /* SweetAlert2 */

    .swalPopup {
        background-color: rgb(17, 24, 39);
        border: 1px solid rgb(55, 65, 81);
    }

    .swalTitle {
        color: white;
    }

    .swalConfirm {
        background-color: rgb(7, 89, 133);
    }

    .swalCancel {
        background-color: rgb(185, 28, 28)
    }
}

[data-theme="dark"] {

    /* Body */
    body {
        background-color: black;
        color: white;
    }

    /* Login */
    .login-box {
        background-color: #2c2c2c;
    }

    .login-form button {
        background-color: #595959;
        color: white;
    }

    .login-element label {
        color: white;
    }

    .login-element input {
        border-color: rgb(209, 213, 219);
        color: black;
    }

    /* Element */
    .app button:hover {
        border-radius: 10px;
        background-color: #595959;
    }

    /* Sidebar */
    .sidebar {
        border-color: beige;
        background-color: black;
    }

    .sidebar-header {
        border-bottom-width: 1px;
        border-color: beige;
        background: black;
    }

    .sidebar-title h2 {
        color: white;
    }

    .sidebar-title p {
        color: gray;
    }

    /* Room */
    .room-element {
        border-color: darkgrey;
        color: white;
    }

    .room-element:hover {
        background-color: #595959;
    }

    .room-element.active {
        background-color: #2c2c2c;
    }

    .room-element.active:hover {
        background-color: #595959;
    }

    /* Status */
    .status-container {
        border-top-width: 1px;
        border-color: beige;
        background: black;
    }

    .status-bloc-1 .name {
        color: white;
    }

    .status-bloc-1 .status {
        color: grey;
    }

    /* Chat */
    .room-header {
        border-bottom-width: 1px;
        border-color: beige;
        background: black;
    }

    .room-name {
        color: white;
        font-weight: 600;
    }

    .room-control-container {
        border-top-width: 1px;
        border-color: beige;
        background: black;
    }

    .text-control input, .text-control textarea {
        background-color: #2c2c2c;
        color: white;
    }

    .text-control input::placeholder, .text-control textarea::placeholder {
        color: rgb(156, 163, 175);
    }

    .text-control input:focus, .text-control textarea:focus {
        outline: 2px solid transparent;
        outline-offset: 2px;
    }

    .voice-control .connect {
        background-color: rgb(34 197 94);
        color: white;
    }

    .voice-control .disconnect {
        background-color: rgb(239 68 68);
        color: white;
    }

    /* Message */
    .message-container:hover {
        background-color: #2c2c2c;
    }

    .message-owner {
        color: white;
    }

    .message-text {
        color: white;
    }

    .message-timestamp {
        color: rgb(156, 163, 175);
    }

    .message-context-menu .icon:hover {
        border-radius: 10px;
        background-color: #595959;
    }

    /* User profile */

    .user-profile:hover {
        background-color: #595959;
    }

    /* Server config */
    .config-container-left {
        border-color: white;
    }

    .config .sub-category:hover {
        background-color: #2c2c2c;
    }

    .config .sub-category.active {
        background-color: #595959;
    }

    .config input,
    .config select {
        background-color: #2c2c2c;
        color: white;
    }

    .config-item {
        background-color: #2c2c2c;
    }

    .config-item:hover {
        background-color: #595959;
    }
}