[data-theme="default"] {
    /* Body */
    body {
        color: rgb(255, 255, 255);
        background-color: rgb(17, 24, 39);
    }

    /* Login */
    .login-box {
        background-color: rgb(255, 255, 255);
    }

    .login-form button {
        color: white;
        background-color: rgb(99, 102, 241);
    }

    .login-element label {
        color: rgb(31, 41, 55);
    }

    .login-element input {
        color: black;
        border-color: rgb(209, 213, 219);
    }

    /* Sidebar */
    .sidebar {
        background-color: rgb(31, 41, 55);
        border-color: rgb(55, 65, 81);
    }

    .sidebar-header {
        border-color: rgb(55, 65, 81);
        background: rgba(255, 255, 255, 0.1);
    }

    .sidebar-title h2 {
        color: white;
    }

    .sidebar-title p {
        color: rgb(156 163 175);
    }

    /* Room */
    .room {
        border-color: rgb(55, 65, 81);
        color: rgb(255, 255, 255);
    }

    .room:hover {
        background-color: rgb(7, 89, 133);
    }

    .room.active {
        background-color: rgba(12, 74, 110, 0.5);
    }

    .room.active:hover {
        background-color: rgb(7, 89, 133);
    }

    /* Status */
    .status-container {
        border-color: rgb(55, 65, 81);
        background: rgba(255, 255, 255, 0.1);
    }

    .status-bloc-1 .name {
        color: rgb(255 255 255);
    }

    .status-bloc-1 .status {
        color: rgb(156, 163, 175);
    }

    /* Chat */
    .chat-container {
        border-color: rgb(55, 65, 81);
    }

    .chat-header {
        background: rgba(255, 255, 255, 0.1);
    }

    .chat-name {
        color: rgb(255, 255, 255);
        font-weight: 600;
    }

    .chat-input-container {
        border-color: rgb(55, 65, 81);
        background: rgba(255, 255, 255, 0.1);
    }

    .chat-text input {
        color: rgb(255, 255, 255);
        background-color: rgb(55, 65, 81);
    }

    .chat-text input::placeholder {
        color: rgb(156, 163, 175);
    }

    .chat-text input:focus {
        outline: 2px solid transparent;
        outline-offset: 2px;
    }

    /* Message */
    .message-container:hover {
        background-color: rgb(55, 65, 81);
    }

    .message-owner {
        color: white;
    }

    .message-text {
        color: white;
    }

    .message-timestamp {
        color: rgb(156, 163, 175);
    }

    .message-context-menu:hover{
        background-color: rgb(55, 65, 81);
        border-radius: 10px;
        border: 1px;
        border-color: white;
    }

    .message-context-menu .icon:hover{
        background-color: rgb(7, 89, 133);
        border-radius: 10px;
    }
}

[data-theme="dark"] {
    /* Body */
    body {
        color: white;
        background-color: black;
    }

    /* Login */
    .login-box {
        background-color: #2c2c2c;
    }

    .login-form button {
        color: white;
        background-color: #595959;
    }

    .login-element label {
        color: white;
    }

    .login-element input {
        color: black;
        border-color: rgb(209, 213, 219);
    }

    /* Sidebar */
    .sidebar {
        background-color: black;
        border-color: beige;
    }

    .sidebar-header {
        background: black;
        border-color: beige;
        border-bottom-width: 1px;
    }

    .sidebar-title h2 {
        color: white;
    }

    .sidebar-title p {
        color: gray;
    }

    /* Room */
    .room {
        border-color: darkgrey;
        color: white;
    }

    .room:hover {
        background-color: #595959;
    }

    .room.active {
        background-color: #2c2c2c;
    }

    .room.active:hover {
        background-color: #595959;
    }

    /* Status */
    .status-container {
        border-color: beige;
        background: black;
        border-top-width: 1px;
    }

    .status-bloc-1 .name {
        color: white;
    }

    .status-bloc-1 .status {
        color: grey;
    }

    /* Chat */
    .chat-header {
        border-color: beige;
        background: black;
        border-bottom-width: 1px;
    }

    .chat-name {
        color: white;
        font-weight: 600;
    }

    .chat-input-container {
        background: black;
        border-color: beige;
        border-top-width: 1px;
    }

    .chat-text input {
        color: white;
        background-color: #2c2c2c;
    }

    .chat-text input::placeholder {
        color: rgb(156, 163, 175);
    }

    .chat-text input:focus {
        outline: 2px solid transparent;
        outline-offset: 2px;
    }

    /* Message */
    .message-container:hover {
        background-color: #2c2c2c;
    }

    .message-owner {
        color: white;
    }

    .message-text {
        color: white;
    }

    .message-timestamp {
        color: rgb(156, 163, 175);
    }
}
