[data-theme="default"] {

    /* Body */
    body {
        color: white;
        background-color: rgb(17, 24, 39);
    }

    /* Login */
    .login-box {
        background-color: white;
    }

    .login-form button {
        color: white;
        background-color: rgb(99, 102, 241);
    }

    .login-element label {
        color: #1f2937;
    }

    .login-element input {
        color: black;
        border-color: rgb(209, 213, 219);
    }

    /* Element */
    .button-with-icon:hover {
        background-color: rgb(7, 89, 133);
        border-radius: 10px;
    }

    /* Sidebar left */
    .sidebar {
        background-color: #1f2937;
        border-color: rgb(55, 65, 81);
    }

    .sidebar-header {
        border-color: rgb(55, 65, 81);
        background: #353e4b;
    }

    .sidebar-title h2 {
        color: white;
    }

    .sidebar-title p {
        color: rgb(156 163 175);
    }

    /* Sidebar right */
    .sidebar-right {
        border-color: rgb(55, 65, 81);
    }

    /* Room */
    .room-list {
        border-color: rgb(55, 65, 81);
        color: white;
    }

    .room-list:hover {
        background-color: rgba(12, 74, 110, 0.7);
    }

    .room-list.active {
        background-color: rgb(7, 89, 133);
    }

    /* Status */
    .status-container {
        border-color: rgb(55, 65, 81);
        background: #353e4b;
    }

    .status-bloc-1 .name {
        color: white
    }

    .status-bloc-1 .status {
        color: rgb(156, 163, 175);
    }

    /* Chat */
    .room {
        border-color: #111827;
    }

    .room-header {
        background: #292f3d;
    }

    .room-name {
        color: white;
        font-weight: 600;
    }

    .room-control-container {
        border-color: rgb(55, 65, 81);
        background: rgba(255, 255, 255, 0.1);
    }

    .text-control input {
        color: white;
        background-color: rgb(55, 65, 81);
    }

    .text-control input::placeholder {
        color: rgb(156, 163, 175);
    }

    .text-control input:focus {
        outline: 2px solid transparent;
        outline-offset: 2px;
    }

    .voice-control .connect {
        color: white;
        background-color: rgb(34 197 94);
    }

    .voice-control .disconnect {
        color: white;
        background-color: rgb(239 68 68);
    }

    /* Message */
    .message-container:hover {
        background-color: rgb(55, 65, 81);
    }

    .message-owner {
        color: white;
    }

    .message-text {
        color: white;
    }

    .message-timestamp {
        color: rgb(156, 163, 175);
    }

    .message-context-menu:hover {
        background-color: rgb(55, 65, 81);
        border-radius: 10px;
        border: 1px;
        border-color: white;
    }

    .message-context-menu .icon:hover {
        background-color: rgb(7, 89, 133);
        border-radius: 10px;
    }

    /* User profile */

    .user-profile:hover {
        background-color: rgb(55, 65, 81);
    }

    /* Server config */
    .config-container-left {
        border-color: rgb(55, 65, 81);
    }

    .config-container-right {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .config .sub-category:hover {
        background-color: rgba(12, 74, 110, 0.7);
    }

    .config .sub-category.active {
        background-color: rgb(7, 89, 133);
    }

    .config input,
    .config select {
        background-color: #292f3d;
        color: white;
    }

    .config label {
        color: white;
        font-weight: 800;
    }

    .config-item {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .config-item:hover {
        background-color: rgba(12, 74, 110, 0.7);
    }

    .config-item .context-menu .icon:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

    /* SweetAlert2 */

    .swalPopup {
        background-color: rgb(17, 24, 39);
    }

    .swalTitle {
        color: white;
    }

    .swalConfirm {
        background-color: rgb(7, 89, 133);
    }

    .swalCancel {
        background-color: rgb(185, 28, 28)
    }
}

[data-theme="dark"] {

    /* Body */
    body {
        color: white;
        background-color: black;
    }

    /* Login */
    .login-box {
        background-color: #2c2c2c;
    }

    .login-form button {
        color: white;
        background-color: #595959;
    }

    .login-element label {
        color: white;
    }

    .login-element input {
        color: black;
        border-color: rgb(209, 213, 219);
    }

    /* Element */
    .button-with-icon:hover {
        background-color: #595959;
        border-radius: 10px;
    }

    /* Sidebar */
    .sidebar {
        background-color: black;
        border-color: beige;
    }

    .sidebar-header {
        background: black;
        border-color: beige;
        border-bottom-width: 1px;
    }

    .sidebar-title h2 {
        color: white;
    }

    .sidebar-title p {
        color: gray;
    }

    /* Room */
    .room-list {
        border-color: darkgrey;
        color: white;
    }

    .room-list:hover {
        background-color: #595959;
    }

    .room-list.active {
        background-color: #2c2c2c;
    }

    .room-list.active:hover {
        background-color: #595959;
    }

    /* Status */
    .status-container {
        border-color: beige;
        background: black;
        border-top-width: 1px;
    }

    .status-bloc-1 .name {
        color: white;
    }

    .status-bloc-1 .status {
        color: grey;
    }

    /* Chat */
    .room-header {
        border-color: beige;
        background: black;
        border-bottom-width: 1px;
    }

    .room-name {
        color: white;
        font-weight: 600;
    }

    .room-control-container {
        background: black;
        border-color: beige;
        border-top-width: 1px;
    }

    .text-control input {
        color: white;
        background-color: #2c2c2c;
    }

    .text-control input::placeholder {
        color: rgb(156, 163, 175);
    }

    .text-control input:focus {
        outline: 2px solid transparent;
        outline-offset: 2px;
    }

    .voice-control .connect {
        color: white;
        background-color: rgb(34 197 94);
    }

    .voice-control .disconnect {
        color: white;
        background-color: rgb(239 68 68);
    }

    /* Message */
    .message-container:hover {
        background-color: #2c2c2c;
    }

    .message-owner {
        color: white;
    }

    .message-text {
        color: white;
    }

    .message-timestamp {
        color: rgb(156, 163, 175);
    }

    .message-context-menu .icon:hover {
        background-color: #595959;
        border-radius: 10px;
    }

    /* User profile */

    .user-profile:hover {
        background-color: #595959;
    }

    /* Server config */
    .config-container-left {
        border-color: white;
    }

    .config .sub-category:hover {
        background-color: #2c2c2c;
    }

    .config .sub-category.active {
        background-color: #595959;
    }

    .config input,
    .config select {
        background-color: #2c2c2c;
        color: white;
    }

    .config-item {
        background-color: #2c2c2c;
    }

    .config-item:hover {
        background-color: #595959;
    }
}