/* MAIN */
body.theme{
    color: rgb(255, 255, 255);
    background-color: rgb(17, 24, 39);
}

.sidebar.theme{
    background-color: rgb(31, 41, 55);
    border-color: rgb(55, 65, 81);
}

.sidebar > .header.theme{
    border-color: rgb(55, 65, 81);
    background: rgba(255, 255, 255, 0.1);
}

/* ROOM THEME */
.room.theme {
    border-color: rgb(55, 65, 81);
    color: rgb(255, 255, 255);
}

.room.theme:hover {
    background-color: rgb(7, 89, 133);
}

.room.theme.active {
    background-color: rgba(12, 74, 110, 0.5);
}

.room.theme.active:hover {
    background-color: rgb(7, 89, 133);
}

/* MESSAGE THEME */
.message-owner.theme{
    color: white;
}

.message-content.theme{
    color: white;
}

.message-timestamp.theme{
    color: rgb(156, 163, 175);
}

/* STATUS THEME */
.status.theme{
    border-color: rgb(55, 65, 81);
    background: rgba(255, 255, 255, 0.1);
}

.user > .name.theme{
    color: rgb(255 255 255);
}

.user > .user-status.theme{
    color: rgb(156, 163, 175);
}