/* Body */
body {
    color: white;
    background-color: #2c3e50;
}

/* Sidebar */

.sidebar {
    background-color: #34495e;
}

.sidebar-header {
    background-color: #34495e;
}

.sidebar-title h2{
    color: white;
}

.sidebar-title p{
    color: #7f8c8d;
}

/* Room */
.room {
    border-color: rgb(55, 65, 81);
    color: rgb(255, 255, 255);
}

.room:hover {
    background-color: #8e44ad;
}

.room.active {
    background-color: #2980b9;
}

.room.active:hover {
    background-color: #8e44ad;
}

/* Status */
.status-container {
    border-color: rgb(55, 65, 81);
    background: rgba(255, 255, 255, 0.1);
}

.status-bloc-1 .name {
    color: rgb(255 255 255);
}

.status-bloc-1 .status {
    color: rgb(156, 163, 175);
}

/* Chat */
.chat-container {
    border-color: rgb(55, 65, 81)
}

.chat-header {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
}

.chat-name {
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.chat-input-container {
    border-color: rgb(55, 65, 81);
    background: rgba(255, 255, 255, 0.1);
}

.chat-text input {
    color: rgb(255, 255, 255);
    background-color: rgb(55, 65, 81);
}

.chat-text input::placeholder {
    color: rgb(156, 163, 175)
}

.chat-text input:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

/* Message */
.message-owner {
    color: white;
}

.message-content {
    color: white;
}

.message-timestamp {
    color: rgb(156, 163, 175);
}