*[data-theme="dark"] {
    /* Background */
    --pri-bg-color: #121214;
    --sec-bg-color: #1a1a1e;
    --ter-bg-color: #202024;
    --qua-bg-color: #43434d;

    /* Border */
    --pri-bd-color: #43434d;
    --sec-bd-color: #ffffff;

    /* Text */
    --pri-text-color: #ffffff;
    --pri-placeholder-color: #9ca3af;

    /* Active */
    --pri-active-color: #2c2c30;

    /* Hover */
    --pri-hover-color: #242427;
    --sec-hover-color: #43434d;

    /* Button */
    --pri-button-bg-color: #5865f2;
    --pri-button-hover-color: #4452bb;
    --pri-button-bg-text-color: var(--pri-text-color);
    --sec-button-bg-color: #b91c1c;
    --sec-button-hover-color: #ff999c;
    --sec-button-bg-text-color: var(--pri-text-color);

    /* hljs */
    --hljs-theme: 'src/css/highlightjs/dark.css';
}

*[data-theme="darker"] {
    /* Background color */
    --pri-bg-color: #000000;
    --sec-bg-color: #000000;
    --ter-bg-color: #000000;
    --qua-bg-color: #000000;

    /* Border color */
    --pri-bd-color: #f5f5dc;
    --sec-bd-color: #f5f5dc;

    /* Text */
    --pri-text-color: #ffffff;
    --pri-placeholder-color: #9ca3af;

    /* Active */
    --pri-active-color: #2c2c30;

    /* Hover */
    --pri-hover-color: #242427;
    --sec-hover-color: #43434d;

    /* Button */
    --pri-button-bg-color: #242427;
    --pri-button-hover-color: #43434d;
    --pri-button-bg-text-color: var(--pri-text-color);
    --sec-button-bg-color: #b91c1c;
    --sec-button-hover-color: #2c2c30;
    --sec-button-bg-text-color: var(--pri-text-color);

    /* hljs */
    --hljs-theme: 'src/css/highlightjs/darker.css';
}

*[data-theme="light"] {
    /* Background */
    --pri-bg-color: #f2f2f2;
    --sec-bg-color: #ffffff;
    --ter-bg-color: #f1f8ff;
    --qua-bg-color: #dadada;

    /* Border */
    --pri-bd-color: rgb(224, 224, 224);
    --sec-bd-color: #3c3c3d;

    /* Text */
    --pri-text-color: black;
    --pri-placeholder-color: black;

    /* Active */
    --pri-active-color: #ffffff;

    /* Hover */
    --pri-hover-color: #dadada;
    --sec-hover-color: #e8e6de;

    /* Button */
    --pri-button-bg-color: #5865f2;
    --pri-button-hover-color: #4452bb;
    --pri-button-bg-text-color: #ffffff;
    --sec-button-bg-color: #b91c1c;
    --sec-button-hover-color: #ff999c;
    --sec-button-bg-text-color: #ffffff;

    /* hljs */
    --hljs-theme: 'src/css/highlightjs/light.css';
}

*[data-theme="femboy"] {
    /* Background */
    --pri-bg-color: #c4d0e3;
    --sec-bg-color: #e6dde9;
    --ter-bg-color: #facec2;
    --qua-bg-color: #ff999c;

    /* Border */
    --pri-bd-color: #c4d0e3;
    --sec-bd-color: #c4d0e3;

    /* Text */
    --pri-text-color: black;
    --pri-placeholder-color: #878890;

    /* Active */
    --pri-active-color: #facec2;

    /* Hover */
    --pri-hover-color: #ff999c;
    --sec-hover-color: #facec2;

    /* Button */
    --pri-button-bg-color: #facec2;
    --pri-button-hover-color: #ff999c;
    --pri-button-bg-text-color: var(--pri-text-color);
    --sec-button-bg-color: #b91c1c;
    --sec-button-hover-color: #ff999c;
    --sec-button-bg-text-color: var(--pri-text-color);

    /* hljs */
    --hljs-theme: 'src/css/highlightjs/femboy.css';
}

body {
    color: var(--pri-text-color);
}

/* Element */
.app button:hover {
    background-color: var(--sec-button-hover-color);
}

/* Sidebar left */
.sidebar {
    border-color: var(--pri-bd-color);
    background-color: var(--pri-bg-color);
}

.sidebar-header {
    border-color: var(--pri-bd-color);
}

/* Sidebar right */
.sidebar-right {
    border-color: var(--pri-bd-color);
    background-color: var(--sec-bg-color);
}

/* Room */
.sidebar-room-separator,
.sidebar-room-element {
    border-color: var(--pri-bd-color);
}

.sidebar-room-separator {
    font-weight: 600;
}

.sidebar-room-element:hover {
    background-color: var(--pri-hover-color);
}

.sidebar-room-element.active {
    background-color: var(--pri-active-color);
    font-weight: 600;
}

.room {
    border-color: var(--pri-bd-color);
}

.room-header {
    background-color: var(--sec-bg-color);
    border-color: var(--pri-bd-color);
}

.room-name {
    font-weight: 600;
}

.room-container {
    background-color: var(--sec-bg-color);
}

/* Status */
.status-container {
    border-color: var(--pri-bd-color);
    background-color: var(--ter-bg-color);
}

.status-bloc-1 .status {
    color: var(--pri-placeholder-color);
}

/* Chat */
.room-control-container {
    border-color: var(--pri-bd-color);
    background-color: var(--sec-bg-color);
}

.text-control input,
.text-control textarea {
    background-color: var(--ter-bg-color);
}

.text-control input::placeholder,
.text-control textarea::placeholder {
    color: var(--pri-placeholder-color);
}

.voice-control .disconnected {
    background-color: #22c55e;
}

.voice-control .disconnected:hover {
    background-color: #189345;
}

.voice-control .waiting {
    background-color: #ffa500;
}

.voice-control .connected {
    background-color: #ee3434;
}

.voice-control .connected:hover {
    background-color: #b62727;
}

.voice-profile:hover {
    background-color: var(--sec-bg-color);
}

.voice-control .mute:hover,
.voice-profile .mute:hover {
    background-color: var(--sec-button-hover-color);
}

.voice-control .mute.active,
.voice-profile .mute.active {
    color: #ff0000;
}

.config-button.disabled {
    background-color: #ff0000;
}

.config-button.enabled {
    background-color: #22c55e;
}

.config-button.disabled:hover {
    background-color: #9e0505;
}

.config-button.enabled:hover {
    background-color: #1b8b44;
}

/* Message */
.message-container:hover {
    background-color: var(--pri-hover-color);
}

.message-timestamp {
    color: var(--pri-placeholder-color);
}

.message-context-menu .icon:hover {
    background-color: var(--sec-hover-color);
}

/* User profile */
.user-profile:hover {
    background-color: var(--sec-hover-color);
}

/* Server config */
.config-container-left {
    border-color: var(--pri-bd-color);
    background-color: var(--pri-bg-color);
}

.config-container-right {
    background-color: var(--sec-bg-color);
}

.config .sub-category:hover {
    background-color: var(--pri-hover-color);
}

.config .sub-category.active {
    background-color: var(--pri-active-color);
}

.config input,
.config select,
form.popup input,
form.popup select {
    background-color: var(--sec-bg-color);
    border-color: var(--pri-bd-color);
    color: var(--pri-text-color);
}

.config label,
form.popup label {
    font-weight: 800;
    color: var(--pri-text-color);
}

.voice-settings label {
    font-weight: 400;
    color: var(--pri-text-color);
}

.config-item {
    background-color: var(--ter-bg-color);
}

.config-item:hover {
    background-color: var(--pri-hover-color);
}

.config-right button {
    background-color: var(--pri-button-bg-color);
    color: var(--pri-button-bg-text-color);
}

.config-right button:hover {
    background-color: var(--pri-button-hover-color);
}

textarea.config-item:hover {
    background-color: var(--sec-hover-color);
}

/* SweetAlert2 */
.swalPopup {
    background-color: var(--pri-bg-color);
    border: 1px solid var(--pri-bd-color);
}

.swal-input,
.swalTitle {
    color: var(--pri-text-color);
}

.swalConfirm {
    background-color: var(--pri-button-bg-color);
}

.swalCancel {
    background-color: var(--sec-button-bg-color);
}

@media screen and (max-width: 600px) {
    .room-control-container {
        background-color: var(--ter-bg-color);
    }
}