/* ROOM THEME */
.room.theme {
    border-color: rgb(55, 65, 81);
    color: rgb(255, 255, 255);
}

.room.theme:hover {
    background-color: rgb(7, 89, 133);
}

.room.theme.active {
    background-color: rgba(12, 74, 110, 0.5);
}

.room.theme.active:hover {
    background-color: rgb(7, 89, 133);
}

/* MESSAGE THEME */
.message-owner.theme{
    color: white;
}

.message-content.theme{
    color: white;
}

.message-timestamp.theme{
    color: rgb(156, 163, 175)
}

